<div class="feature">
    <header class="h3">Private and dorm-style lodging</header>
    <p>The lodge sleeps up to 20 people, with private and dorm-style accommodations available.</p>
</div>
<div class="feature">
    <header class="h3">Round-trip shuttle from Boston</header>
    <p>Catch the shuttle up to the lodge from Alewife or Oak Grove every Friday, and return trips on Sunday afternoon.</p>
</div>
<div class="feature">
    <header class="h3">Dog-friendly shuttle and lodging</header>
    <p>The lodge is doggo-friendly, and the shuttle has two crates to bring your pup up here.</p>
</div>
<div class="feature">
    <header class="h3">Local loop shuttle</header>
    <p>Once you're here, our local loop shuttle will help you get to and from any trail you’d like (within 30 miles).</p>
</div>
<div class="feature">
    <header class="h3">Gear storage</header>
    <p>Don’t want to lug your gear up every week? Leave it in one of our locked storage areas.</p>
</div>
<div class="feature">
    <header class="h3">Boardgames, instruments, and wifi</header>
    <p>We’ve got plenty of boardgames, string instruments, and open wifi when you’re looking for some downtime.</p>
</div>
