<div class="nav">
    <%= link_to (image_tag "basecamp-logo.svg"), root_path, class: "hidden-mobile logo" %>
    <%= link_to (image_tag "basecamp-logo-stacked.svg"), root_path, class: "hidden-desktop logo" %>
    <div class="links">
        <a href="sms:8572852067" class="hidden-desktop">Text us</a>
        <a href="mailto:robinson@greig.io" target="_blank" class="hidden-mobile">Email us</a>
        <!-- <a href="#">Gallery</a> -->
        <%= link_to "What's included?", features_path %>
    </div>
</div>
