<div class="description">
    <header class="h1">The community lodge for Boston's outdoor adventure seekers.</header>
    <p>We're here to make it easier for you to escape from Boston and explore the wilderness of Northern New England.</p>
</div>
<div class="features feature-list">
    <%= render "shared/features" %>
</div>
